In [10]:
import pandas as pd

In [7]:
from arcgis.geocoding import reverse_geocode
from arcgis.geometry import Geometry
from arcgis.gis import GIS

In [2]:
start_station = pd.read_csv("collatedData/StartStationID.csv")
end_station = pd.read_csv("collatedData/EndStationID.csv")

In [5]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

In [9]:
gis = GIS("http://www.arcgis.com", "Zach_Breen_LearnArcGIS", "ArcGISpassword1234!")

def get_zip(df, lon_field, lat_field):
    location = reverse_geocode((Geometry({"x":float(df[lon_field]), "y":float(df[lat_field]), "spatialReference":{"wkid": 4326}})))
    return location['address']['Postal']

In [11]:

zipcodes = end_station.apply(get_zip, axis=1, lat_field='latitude', lon_field='longitude')

In [15]:
end_station["zipcodes"] = zipcodes
end_station.head()

,end station id,tripduration,Total_trip_duration,average_trip_duration,latitude,longitude,zipcodes
0,72,34532,48778218,1412.551199,40.767272,-73.993929,10019
1,79,19981,25747489,1288.598619,40.719116,-74.006667,10013
2,82,12170,18485345,1518.927280,40.711174,-74.000166,10038
3,83,19257,30368746,1577.023732,40.683826,-73.976323,11217
4,116,44770,40148951,896.782466,40.741776,-74.001497,10011

In [16]:
szipcodes = start_station.apply(get_zip, axis=1, lat_field='latitude', lon_field='longitude')

In [17]:
start_station["zipcodes"] = szipcodes
start_station.head()

,start station id,tripduration,Total_trip_duration,average_trip_duration,latitude,longitude,zipcodes
0,72,34550,47548965,1376.236324,40.767272,-73.993929,10019
1,79,19560,25218725,1289.300869,40.719116,-74.006667,10013
2,82,12009,13147793,1094.828295,40.711174,-74.000166,10038
3,83,18797,28022697,1490.806884,40.683826,-73.976323,11217
4,116,44608,46245054,1036.698664,40.741776,-74.001497,10011

In [18]:
end_station.to_csv("collatedData/EndStationID.csv")
start_station.to_csv("collatedData/StartStationID.csv")